.events-area {
    //display: grid;
    text-align: center;
}
.events-section {
   display: grid;
   padding: 50px;
   grid-template-columns: repeat(2, 1fr);
   grid-gap: 20px;
   @media(max-width: 700px) {
       grid-template-columns: 1fr;
   }
}
.events-section-left {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   height: 440px;
   overflow-y: scroll;
   background: #f5f5f5;
   text-align: left;
   grid-gap: 20px;
//    align-items: center;
//    justify-items: center;
   @media(max-width: 700px) {
        grid-template-columns: 1fr;
        justify-content: center;
        align-content: center;
        text-align:center;
    }
}
.events-section-img  {
    //width: 120px;
    align-self:center;
    justify-self: flex-end;
    @media(max-width: 700px) {
        align-self: center;
        justify-self: center;
    }
}
