
//    Font Family

$primary-font	: 'Lato', sans-serif;
$banner-text-font: 'Julius Sans One', sans-serif;
$section-headings-font: 'Dosis', sans-serif;
$title-font     : 'Poppins', sans-serif;

/*--------------------------- Color variations ----------------------*/

$primary-color	: #ffba00;
$primary-color2	: #ff6c00;
$primary-color3	: #828bb3;
$title-color	: #222222;
$text-color		: #777777;
$link-color     : #ff9001;
$baseColor: #c5322d; 
$dip: #222222;
$pfont: #777777;
$white			: #fff;
$black			: #000;
$offwhite: #2a0000;
$menu-color: #c22d1e;
$menu-text-color: #2a0000;
$section-headings: #c22d1e;
$banner-text-color: #2a0000;
$footer-header-color: #ffcc00;
$footer-bottom-color: #7c5018;
$footer-links-section: #050505;
/*--------------------------- Fonts ----------------------*/

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');





